<mat-tab-group class="tab-group">
    <mat-tab class="tab-group__tab" *ngFor="let header of tabHeaders">
        <ng-template mat-tab-label>
            <div class="tab-group__tab-header">
                {{header.text}}
            </div>
            <div class="red-dot" *ngIf="header?.alert"></div>
        </ng-template>
        <div class="tab-group__tab-content">
            <div class="main-text">Today</div>
            <app-today-card></app-today-card>
            <div class="secondary-text">Daily</div>
            <app-daily-carousel class="tab-group__tab-content-carousel"></app-daily-carousel>
        </div>
    </mat-tab>
</mat-tab-group>
