/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body, html {
  max-width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  font-family: 'Hind Siliguri', sans-serif;
}

.nav-btn {
  display: flex;
  border-radius: 50%;
  width: 5%;
  height: 5%;
}

